@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    line-height: 1.5rem;
}

h1 {
    width: 60%;
    font-family: 'Luckiest Guy';
    font-size: 32px;
    line-height: 2rem;
    padding: 16px 0;
}

h2 {
    font-size: 24px;
    font-weight: 800;
}

header {
    background-image: url(../images/mobile-header-background.png);
    color: #FFFFFF;
    top: 29px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 24px;
    row-gap: 16px;
}

.outline {
    background-color: #F6F6F6;
}

footer {
    background-color: #23272A;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 16px;
}


button {
    width: 100%;
    height: 3.5rem;
    border-radius: 28px;

}

#download {
    background-color: #FFFFFF;
}

#open {
    background-color: #23272A;
    color: #FFFFFF;
}

@media screen and (min-width: 914px) {

    section h1 {
        font-size: 40px;
    }

    h2 {
        grid-area: 1 / 2 / span 1 / span 1;
        font-size: 40px;
        line-height: 3rem;
        align-self: flex-end;
    }

    p {
        grid-area: 2 / 2 / span 1 / span 1;
        align-self: flex-start;
    }

    main section {
        display: grid;
        grid: auto auto / 607px 348px;
        justify-items: center;
        align-items: center;
    }

    main section img {
        grid-area: 1 / 1 / 3 / span 1;
    }
    
    header section {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 25%;
        text-align: center;
    }

    header {
        background-image: url(../images/header-background.png);
        background-size: cover;
        padding: 8% 0;
    }

    header h1 {
        font-size: 56px;
        line-height: 3.5rem;
        text-align: center;
        margin: auto;
    }

    header form {
        display: flex;
        flex-flow: row nowrap;
        margin: auto;
        column-gap: 20%;
    }

    header button {
        width: 150%;
    }

    .crooked {
        display: grid;
        grid: auto auto / 348px 607px;
        justify-items: center;
        align-items: center;
    }

    .crooked h2 {
        grid-area: 1 / 1 / span 1 / span 1;
        align-self: flex-end;
    }

    .crooked p {
        grid-area: 2 / 1 / span 1 / span 1;
        align-self: flex-start;
    }

    .crooked img {
        grid-area: 1 / 2 / 3 / span 1;
    }

    .final-section {
        display: flex;
        text-align: center;
        padding: 3% 25%;
    }
}